.popup__form{
    max-width: 430px;
    max-height: 330px;
    border:1px solid black;
    border-radius: 10px;
    padding: 36px;
}
@media screen  and (max-width:320px){
    .popup__form{
        max-width: 282px;
        padding: 25px;
    }  
}
