.profile__btn-edit{
    background-image: url(../../../img/Edit\ Button.svg);
    width: 24px;
    background-color: black;
    border: 1px solid white;
    border-radius: 4%;
    cursor: pointer;
    height: 24px;
}
.profile__btn-edit:hover{
    background-image: url(../../../img/Edit\ Button-hover.svg);
    width: 24px;
    background-color: black;
    border: 1px solid rgb(139, 135, 135);
    border-radius: 4%;
    cursor: pointer;
    height: 24px;
}
@media screen  and (max-width:320px){
    .profile__btn-edit{
        position: absolute;
        top: 241px;
        left: 255px;
    }
}

