.footer{
    color:#545454;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    width: 880px;
    border-bottom: 1px solid #545454;
    margin-left: 200px;
    margin-right: 200px;
    padding:50px 0;
}