.elements{
    display: grid;
    width: 880px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 15px;
    margin: 0 auto;
}
@media screen  and (max-width:320px){
    .elements{
        width: 282px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    } 
}
